flows (1).json
[{"id":"a2e80c05.5d56","type":"tab","label":"Toggle LED (PBS)","disabled":false,"info":""},{"id":"ddb5b4ec.06e328","type":"inject","z":"a2e80c05.5d56","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":290,"y":300,"wires":[["2db61802.d249e8"]]},{"id":"d18071a1.c8396","type":"inject","z":"a2e80c05.5d56","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":290,"y":360,"wires":[["2db61802.d249e8"]]},{"id":"466dec8a.4e7ab4","type":"arduino in","z":"a2e80c05.5d56","name":"PBS (Pin 15)","pin":"15","state":"INPUT","arduino":"4b03b7ae.c58338","x":90,"y":600,"wires":[["317b47f2.5422f8"]]},{"id":"2db61802.d249e8","type":"arduino out","z":"a2e80c05.5d56","name":"","pin":"13","state":"OUTPUT","arduino":"4b03b7ae.c58338","x":600,"y":340,"wires":[]},{"id":"317b47f2.5422f8","type":"debounce","z":"a2e80c05.5d56","time":"50","name":"","x":240,"y":600,"wires":[["6c41ebc7.ffd7f4"]]},{"id":"6c41ebc7.ffd7f4","type":"switch","z":"a2e80c05.5d56","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":600,"wires":[["6fdf9b6f.c1d444"]]},{"id":"6fdf9b6f.c1d444","type":"function","z":"a2e80c05.5d56","name":"","func":"// If it does exist make it the inverse of what it was or else initialize it to false\n// (context variables persist between calls to the function)\ncontext.setON = !context.setON || false;\n\n// set the payload to the level and return\nmsg.payload = context.setON;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":600,"wires":[["25fef54b.47b31a","d4f2622d.df706"]]},{"id":"25fef54b.47b31a","type":"arduino out","z":"a2e80c05.5d56","name":"","pin":"15","state":"OUTPUT","arduino":"4b03b7ae.c58338","x":760,"y":600,"wires":[]},{"id":"d4f2622d.df706","type":"debug","z":"a2e80c05.5d56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":660,"wires":[]},{"id":"4b03b7ae.c58338","type":"arduino-board","device":"COM3"}]