flows.json
[{"id":"d0e01c4.e1e2ee","type":"tab","label":"Temperature Flow","disabled":true,"info":""},{"id":"ec91c2ab.641ce","type":"function","z":"d0e01c4.e1e2ee","name":"Convert Pin(A7) to Celcius","func":"var code = msg.payload;\nvar celsius;\n\nif (code <= 289) {\n    celsius = 5 + (code - 289) / 9.82;\n  }\n  if (code > 289 && code <= 342) {\n    celsius = 10 + (code - 342) / 10.60;\n  }\n  if (code > 342 && code <= 398) {\n    celsius = 15 + (code - 398) / 11.12;\n  }\n  if (code > 398 && code <= 455) {\n    celsius = 20 + (code - 455) / 11.36;\n  }\n  if (code > 455 && code <= 512) {\n    celsius = 25 + (code - 512) / 11.32;\n  }\n  if (code > 512 && code <= 566) {\n    celsius = 30 + (code - 566) / 11.00;\n  }\n  if (code > 566 && code <= 619) {\n    celsius = 35 + (code - 619) / 10.44;\n  }\n  if (code > 619 && code <= 667) {\n    celsius = 40 + (code - 667) / 9.73;\n  }\n  if (code > 667) {\n    celsius = 45 + (code - 712) / 8.90;\n  }\n\nmsg.payload = celsius;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":340,"wires":[["c980b322.83aa2"]]},{"id":"c980b322.83aa2","type":"rbe","z":"d0e01c4.e1e2ee","name":"block unless value change is great than 0.2","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":830,"y":340,"wires":[["eb7c7b9c.eeb4d8"]]},{"id":"eb7c7b9c.eeb4d8","type":"function","z":"d0e01c4.e1e2ee","name":"cache temperature","func":"flow.set(\"Temp\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":340,"wires":[["c134a5c7.cfc3c8"]]},{"id":"c134a5c7.cfc3c8","type":"debug","z":"d0e01c4.e1e2ee","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1320,"y":340,"wires":[]},{"id":"b437c889.799a28","type":"arduino in","z":"d0e01c4.e1e2ee","name":"Thermister (A0)","pin":"0","state":"ANALOG","arduino":"4b03b7ae.c58338","x":300,"y":340,"wires":[["ec91c2ab.641ce"]]},{"id":"7f8ddcf.90f8e24","type":"arduino in","z":"d0e01c4.e1e2ee","name":"PBS (Pin 3)","pin":"3","state":"PULLUP","arduino":"4b03b7ae.c58338","x":230,"y":400,"wires":[["f2edae75.8c0f8"]]},{"id":"5492435b.6700ec","type":"function","z":"d0e01c4.e1e2ee","name":"Cycle PBS Click 1, 2, 3, 1...","func":"\n\nvar clickCount = flow.get(\"clickCount\");\n\nif(!clickCount)\n    clickCount = 0;\n\n\n\nif (clickCount == 4)\n    clickCount = 1;\nclickCount++;\nflow.set(\"clickCount\", clickCount);    \nmsg.payload = clickCount;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":400,"wires":[["7712abe8.5c0bd4"]]},{"id":"7712abe8.5c0bd4","type":"switch","z":"d0e01c4.e1e2ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":930,"y":400,"wires":[["e9974712.90a3d8"],["cd79f76f.fcdf88"],["f410e040.5a061"]]},{"id":"e9974712.90a3d8","type":"function","z":"d0e01c4.e1e2ee","name":"Get cached temperature","func":"msg.payload = flow.get(\"Temp\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":600,"wires":[["a85b368a.6350e8"]]},{"id":"cd79f76f.fcdf88","type":"function","z":"d0e01c4.e1e2ee","name":"Get cached temperature","func":"msg.payload = flow.get(\"Temp\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":680,"wires":[["dc27b029.82f81"]]},{"id":"f410e040.5a061","type":"function","z":"d0e01c4.e1e2ee","name":"Get cached temperature","func":"msg.payload = flow.get(\"Temp\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":760,"wires":[["467afe04.a2f07"]]},{"id":"a85b368a.6350e8","type":"template","z":"d0e01c4.e1e2ee","name":"Tempurature: Celcius","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Tempurature: {{payload}}° Celsius","output":"str","x":900,"y":600,"wires":[["c2bd573f.6905b8"]]},{"id":"9fdc7d5.661e88","type":"template","z":"d0e01c4.e1e2ee","name":"Tempurature: Farenheit","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Tempurature: {{payload}}° Farenheit","output":"str","x":910,"y":680,"wires":[["d03b2ce5.94de6"]]},{"id":"df63e9e5.4e7f18","type":"template","z":"d0e01c4.e1e2ee","name":"Tempurature: Kelvin","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Tempurature: {{payload}}° Kelvin","output":"str","x":900,"y":760,"wires":[["833dbf3f.b0f3f"]]},{"id":"dc27b029.82f81","type":"function","z":"d0e01c4.e1e2ee","name":"Convert Celsius to Farenheit","func":"var code = msg.payload;\n\ncode = code * 1.8 + 32\nmsg.payload = code;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":680,"wires":[["9fdc7d5.661e88"]]},{"id":"467afe04.a2f07","type":"function","z":"d0e01c4.e1e2ee","name":"Convert Celsius to Kelvin","func":"var code = msg.payload;\n\ncode += 273.15\nmsg.payload = code;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":760,"wires":[["df63e9e5.4e7f18"]]},{"id":"c2bd573f.6905b8","type":"debug","z":"d0e01c4.e1e2ee","name":"display: Tempurature in Celsius","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":600,"wires":[]},{"id":"d03b2ce5.94de6","type":"debug","z":"d0e01c4.e1e2ee","name":"display: Tempurature in Farhenheit","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1300,"y":680,"wires":[]},{"id":"833dbf3f.b0f3f","type":"debug","z":"d0e01c4.e1e2ee","name":"display: Tempurature in Kelvin","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":760,"wires":[]},{"id":"f2edae75.8c0f8","type":"debounce","z":"d0e01c4.e1e2ee","time":"500","name":"Debounce 500ms","x":430,"y":400,"wires":[["5492435b.6700ec"]]},{"id":"44f624fb.328ccc","type":"comment","z":"d0e01c4.e1e2ee","name":"Tempurature Flow by Aria Gomes (gome0098@algonquinlive.com)","info":"","x":460,"y":200,"wires":[]},{"id":"4b03b7ae.c58338","type":"arduino-board","device":"COM3"}]